/*
@media (max-width: 1087px) {
  .right-h {
    font-size: 2rem;
  }
  .left img {
    margin-left: 0rem;
  }
  .right-p {
    font-size: 1.2rem;
    width: 60%;
  }
  .plot {
    font-size: 1rem;
  }
  .lang {
    font-size: 1rem;
  }
  .sub-pt {
    margin-left: 7rem;
    width: 100%;
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 10px;
  }
  .sub-pt h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .rev {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .st-h {
    font-size: 1.2rem;
    width: 30rem;
  }
  .st-p {
    font-size: 1.1rem;
  }
}
@media (max-width: 795px) {
  .pt {
    flex-direction: column;
  }
  .left img {
    margin-left: 9rem;
  }
  .right {
    margin-top: -4rem;
  }
  .wishb {
    margin-left: 12rem;
  }
}
@media (max-width: 678px) {
  .left img {
    margin-left: 6.5rem;
  }
}
@media (max-width: 590px) {
  .left img {
    margin-left: 3rem;
  }
  .wishb {
    margin-left: 8rem;
  }
}
@media (max-width: 505px) {
  .rev {
    font-size: 1rem;
  }
  .left img {
    margin-left: 1rem;
    width: 70%;
  }
}
@media (max-width: 480px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .wishb {
    margin-left: 5rem;
  }
}
@media (max-width: 460px) {
  .right-p,
  .right-h,
  .plot,
  .lang {
    margin-left: 1rem;
  }
}
@media (max-width: 420px) {
  .left img {
    margin-left: 0rem;
  }
}
@media (max-width: 380px) {
  .left img {
    margin-left: -2rem;
  }
  .right-p {
    font-size: 1rem;
  }
  .wishb {
    margin-left: 1rem;
  }
}
@media (max-width: 355px) {
  .left img {
    margin-left: -3rem;
  }
}
@media (max-width: 325px) {
  .left img {
    margin-left: -3.7rem;
  }
}
@media (max-width: 1010px) {
  .fle {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 726px) {
  .fle img {
    margin-left: -4rem;
  }
}
@media (max-width: 625px) {
  .fle {
    display: flex;
    flex-direction: column;
  }
  .fle img {
    margin-left: 1rem;
  }
}
@media (max-width: 430px) {
  .fle img {
    margin-left: -4rem;
  }
}
@media (max-width: 390px) {
  .fle img {
    margin-left: -5rem;
  }
  .fle p {
    margin-left: -1rem;
  }
}
@media (max-width: 340px) {
  .fle img {
    margin-left: -8rem;
  }
  .fle p {
    margin-left: -2rem;
  }
}
*/
